<a href="https://colab.research.google.com/github/BenShieh233/Learn_Python/blob/main/AssignmentProblem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Set-Up

In [1]:
#Copy-and-paste the code below to use as "set-up" when your optimization model uses Pyomo. 
#Uncomment the appropriate solver that you need.
#for reference, see https://colab.research.google.com/drive/1yGk8RB5NXrcx9f1Tb-oCiWzbxh61hZLI?usp=sharing

#installing and importing pyomo
!pip install -q pyomo
from pyomo.environ import *

###installing and importing specific solvers (uncomment the one(s) you need)
###glpk
!apt-get install -y -qq glpk-utils
###cbc
#!apt-get install -y -qq coinor-cbc
###ipopt
#!wget -N -q "https://ampl.com/dl/open/ipopt/ipopt-linux64.zip"
#!unzip -o -q ipopt-linux64
###bonmin
#!wget -N -q "https://ampl.com/dl/open/bonmin/bonmin-linux64.zip"
#!unzip -o -q bonmin-linux64
###couenne
#!wget -N -q "https://ampl.com/dl/open/couenne/couenne-linux64.zip"
#!unzip -o -q couenne-linux64
###geocode
#!wget -N -q "https://ampl.com/dl/open/gecode/gecode-linux64.zip"
#!unzip -o -q gecode-linux64

#Using the solvers:
#SolverFactory('glpk', executable='/usr/bin/glpsol')
#SolverFactory('cbc', executable='/usr/bin/cbc')
#SolverFactory('ipopt', executable='/content/ipopt')
#SolverFactory('bonmin', executable='/content/bonmin')
#SolverFactory('couenne', executable='/content/couenne')
#SolverFactory('gecode', executable='/content/gecode')

     |████████████████████████████████| 9.7 MB 22.0 MB/s
     |████████████████████████████████| 49 kB 2.6 MB/s
Selecting previously unselected package libsuitesparseconfig5:amd64.
(Reading database ... 123991 files and directories currently installed.)
Preparing to unpack .../libsuitesparseconfig5_1%3a5.1.2-2_amd64.deb ...
Unpacking libsuitesparseconfig5:amd64 (1:5.1.2-2) ...
Selecting previously unselected package libamd2:amd64.
Preparing to unpack .../libamd2_1%3a5.1.2-2_amd64.deb ...
Unpacking libamd2:amd64 (1:5.1.2-2) ...
Selecting previously unselected package libcolamd2:amd64.
Preparing to unpack .../libcolamd2_1%3a5.1.2-2_amd64.deb ...
Unpacking libcolamd2:amd64 (1:5.1.2-2) ...
Selecting previously unselected package libglpk40:amd64.
Preparing to unpack .../libglpk40_4.65-1_amd64.deb ...
Unpacking libglpk40:amd64 (4.65-1) ...
Selecting previously unselected package glpk-utils.
Preparing to unpack .../glpk-utils_4.65-1_amd64.deb ...
Unpacking glpk-utils (4.65-1) ...
Setting up libsuitesparseconfig5:amd64 (1:5.1.2-2) ...
Setting up libcolamd2:amd64 (1:5.1.2-2) ...
Setting up libamd2:amd64 (1:5.1.2-2) ...
Setting up libglpk40:amd64 (4.65-1) ...
Setting up glpk-utils (4.65-1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.6) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...

In [8]:
import pandas as pd

#Code that solves one small assignment problem

In [2]:
#write code that solves one instance of the assignment problem
times = [[193,171,51],
         [189,128,35],
         [39,174,46]]
#first index is the person, second index is the task, times[i][j] denotes the time it takes person i to complete task j

#declare a concrete model
model = ConcreteModel()

num_people = 3 #use i to index the people, this is the first index
num_tasks = 3 #use j to index the tasks, this is the second index

#declare the decision variables
model.x = Var(range(num_people), range(num_tasks), domain=NonNegativeReals) #NOTE: This is how you define 2-dimensional decision variables, model.x[i,j]

#set the objective
model.Objective = Objective(expr = sum(model.x[i,j]*times[i][j] for i in range(num_people) for j in range(num_tasks)), sense = minimize) #this is how you sum up over multiple indices

#set the people constraints
model.PeopleConstraints = ConstraintList() #declaring an empty list of constraints
for i in range(num_people): #add one constraint per person
    model.PeopleConstraints.add(expr = sum(model.x[i,j] for j in range(num_tasks)) <= 1)
    
#set the task constraints
model.TaskConstraints = ConstraintList()
for j in range(num_tasks): #adding one constraint per task
    model.TaskConstraints.add(expr = sum(model.x[i,j] for i in range(num_people)) >= 1)

#model.pprint()

In [3]:
#solve the model
opt = SolverFactory('glpk')
opt.solve(model, tee = False)

{'Problem': [{'Name': 'unknown', 'Lower bound': 218.0, 'Upper bound': 218.0, 'Number of objectives': 1, 'Number of constraints': 7, 'Number of variables': 10, 'Number of nonzeros': 19, 'Sense': 'minimize'}], 'Solver': [{'Status': 'ok', 'Termination condition': 'optimal', 'Statistics': {'Branch and bound': {'Number of bounded subproblems': 0, 'Number of created subproblems': 0}}, 'Error rc': 0, 'Time': 0.008649826049804688}], 'Solution': [OrderedDict([('number of solutions', 0), ('number of solutions displayed', 0)])]}

In [4]:
#print solution
print("objective:", model.Objective())
for i in range(num_people):
    for j in range(num_tasks):
        if model.x[i,j]() > 0:
            print("person", i, "gets task", j)

objective: 218.0
person 0 gets task 2
person 1 gets task 1
person 2 gets task 0

In [5]:
#alternative solution output
print("objective:", model.Objective())
assignment_matrix = [[model.x[i,j]() for j in range(num_tasks)] for i in range(num_people)]
assignment_matrix

objective: 218.0

[[0.0, 0.0, 1.0], [0.0, 1.0, 0.0], [1.0, 0.0, 0.0]]

In [9]:
#converting assignments to dataframe
pd.DataFrame(assignment_matrix, index = ["person1", "person2", "person3"], columns = ["task1","task2","task3"])

         task1  task2  task3
person1    0.0    0.0    1.0
person2    0.0    1.0    0.0
person3    1.0    0.0    0.0

# Option A

In [13]:
df = pd.read_excel('/content/sample_data/AssignmentProblemData.xlsx', sheet_name = 'Largeproblemdata')
df

,PersonNum,Task1,Task2,Task3,Task4,Task5,Task6,Task7,Task8,Task9,...,Task38,Task39,Task40,Task41,Task42,Task43,Task44,Task45,Task46,Task47
0,1,328,240,99,244,310,83,209,76,66,...,330,134,182,84,341,193,327,54,160,312
1,2,153,111,96,308,297,114,51,178,167,...,114,59,336,91,308,104,253,199,62,118
2,3,82,246,163,277,68,55,82,232,313,...,86,113,95,151,160,185,96,320,232,254
3,4,149,171,81,172,163,298,319,100,155,...,101,337,222,161,192,207,190,292,53,133
4,5,201,211,224,323,133,112,165,186,116,...,144,195,307,253,280,237,232,277,204,130
5,6,299,254,233,107,291,244,254,229,200,...,80,311,144,76,213,248,98,243,148,167
6,7,265,329,239,202,126,247,75,324,258,...,289,303,298,149,174,133,98,256,235,99
7,8,282,183,255,276,271,249,177,266,267,...,97,177,211,74,114,262,109,146,89,147
8,9,125,73,225,221,208,327,322,213,231,...,148,120,315,141,101,135,64,215,161,280
9,10,180,112,58,291,95,202,262,161,124,...,312,349,264,214,249,70,221,331,248,331
10,11,268,289,256,146,292,267,215,188,79,...,129,121,58,336,151,59,197,248,230,342
11,12,266,158,90,297,289,167,216,179,171,...,235,255,93,260,156,335,98,313,263,168
12,13,64,96,261,135,71,236,329,194,273,...,109,201,208,328,119,225,94,298,313,258
13,14,284,165,58,278,213,98,97,95,256,...,232,146,248,156,194,225,171,225,319,113
14,15,342,86,219,166,73,168,340,61,126,...,95,126,213,293,125,288,81,160,165,79
15,16,193,252,101,258,158,94,266,238,278,...,187,284,293,256,229,138,236,119,132,208
16,17,124,327,338,240,277,269,158,232,229,...,58,75,142,89,320,116,284,303,250,260
17,18,128,234,329,52,134,293,329,108,339,...,228,219,263,59,118,111,173,318,128,176
18,19,126,78,110,82,243,172,345,263,75,...,196,236,228,339,53,300,110,111,85,253
19,20,326,345,300,215,141,63,340,59,108,...,97,343,328,327,123,167,331,198,347,156
20,21,223,266,308,267,142,103,156,241,105,...,193,292,311,143,146,288,102,99,284,128
21,22,96,204,204,299,59,68,182,90,197,...,234,151,67,127,252,226,233,129,228,187
22,23,293,241,269,278,132,116,129,56,279,...,202,115,114,209,192,331,84,83,272,182
23,24,165,196,239,273,273,179,107,343,222,...,347,294,61,186,73,136,63,300,159,321
24,25,316,314,223,182,342,95,204,321,55,...,337,94,138,121,161,243,189,110,204,79
25,26,264,130,67,160,90,246,199,131,148,...,60,315,82,124,287,127,96,266,159,324
26,27,72,228,221,278,126,174,135,100,340,...,340,123,274,243,112,142,106,288,129,118
27,28,262,326,192,147,229,56,71,129,61,...,200,341,246,146,72,203,186,221,232,97
28,29,87,249,316,54,325,132,226,95,230,...,191,212,229,253,195,131,124,270,320,264
29,30,140,146,131,283,82,211,67,292,267,...,146,81,281,342,301,239,72,313,249,156
30,31,248,335,162,55,202,71,202,243,192,...,283,321,161,75,264,328,108,203,200,259
31,32,82,151,263,126,350,208,249,69,290,...,261,181,248,204,74,111,97,257,274,107
32,33,53,323,317,298,338,107,191,78,205,...,81,98,218,197,276,303,94,152,191,64
33,34,76,73,72,146,245,165,193,78,217,...,166,209,241,344,346,75,220,241,246,176
34,35,305,313,193,335,91,248,67,315,152,...,202,185,124,297,149,169,254,58,66,344
35,36,262,136,276,145,134,146,54,111,71,...,60,70,171,207,238,111,128,225,189,174
36,37,195,274,88,60,164,140,274,180,346,...,166,112,180,50,320,289,145,56,186,283
37,38,148,157,194,227,301,330,312,171,176,...,178,283,349,233,314,231,137,340,257,241
38,39,174,303,261,267,117,161,146,213,60,...,298,275,89,260,210,275,263,87,242,317
39,40,52,235,63,161,192,331,164,334,311,...,194,99,246,300,73,215,105,142,205,173
40,41,134,335,53,221,66,286,125,236,104,...,95,332,325,252,146,332,121,328,111,139
41,42,223,326,234,178,81,160,220,122,145,...,166,319,91,229,236,221,200,187,324,176
42,43,311,235,147,111,175,95,95,125,85,...,121,201,79,348,74,99,250,186,239,175
43,44,70,156,133,182,216,280,293,77,338,...,150,329,98,71,147,98,175,127,307,299
44,45,288,335,127,321,140,143,177,162,152,...,220,72,91,71,229,220,272,259,123,125
45,46,185,54,210,112,149,235,212,318,179,...,333,123,161,166,242,160,169,188,343,235
46,47,229,90,147,68,300,91,83,170,331,...,315,58,100,105,307,202,235,95,253,159

In [19]:
#write code that solves one instance of the assignment problem
times2 = df.iloc[:, 1:].values.tolist()

In [21]:
#declare a concrete model
model2 = ConcreteModel()

num_people2 = len(df)
num_tasks2 = len(df.iloc[0,1:])

#declare the decision variables
model2.x = Var(range(num_people2), range(num_tasks2), domain=NonNegativeReals)

#set the objective
model2.Objective = Objective(expr = sum(model2.x[i,j]*times2[i][j] for i in range(num_people2) for j in range(num_tasks2)), sense = minimize)

#set the people constraints
model2.PeopleConstraints = ConstraintList() #declaring an empty list of constraints
for i in range(num_people2): #add one constraint per person
    model2.PeopleConstraints.add(expr = sum(model2.x[i,j] for j in range(num_tasks2)) <= 1)

#set the task constraints
model2.TaskConstraints = ConstraintList()
for j in range(num_tasks2): #adding one constraint per task
    model2.TaskConstraints.add(expr = sum(model2.x[i,j] for i in range(num_people2)) >= 1)

model.pprint()

5 Set Declarations
    PeopleConstraints_index : Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :    3 : {1, 2, 3}
    TaskConstraints_index : Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :    3 : {1, 2, 3}
    x_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain              : Size : Members
        None :     2 : x_index_0*x_index_1 :    9 : {(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)}
    x_index_0 : Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :    3 : {0, 1, 2}
    x_index_1 : Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :    3 : {0, 1, 2}

1 Var Declarations
    x : Size=9, Index=x_index
        Key    : Lower : Value : Upper : Fixed : Stale : Domain
        (0, 0) :     0 :   0.0 :  None : False : False : NonNegativeReals
        (0, 1) :     0 :   0.0 :  None : False : False : NonNegativeReals
        (0, 2) :     0 :   1.0 :  None : False : False : NonNegativeReals
        (1, 0) :     0 :   0.0 :  None : False : False : NonNegativeReals
        (1, 1) :     0 :   1.0 :  None : False : False : NonNegativeReals
        (1, 2) :     0 :   0.0 :  None : False : False : NonNegativeReals
        (2, 0) :     0 :   1.0 :  None : False : False : NonNegativeReals
        (2, 1) :     0 :   0.0 :  None : False : False : NonNegativeReals
        (2, 2) :     0 :   0.0 :  None : False : False : NonNegativeReals

1 Objective Declarations
    Objective : Size=1, Index=None, Active=True
        Key  : Active : Sense    : Expression
        None :   True : minimize : 193*x[0,0] + 171*x[0,1] + 51*x[0,2] + 189*x[1,0] + 128*x[1,1] + 35*x[1,2] + 39*x[2,0] + 174*x[2,1] + 46*x[2,2]

2 Constraint Declarations
    PeopleConstraints : Size=3, Index=PeopleConstraints_index, Active=True
        Key : Lower : Body                     : Upper : Active
          1 :  -Inf : x[0,0] + x[0,1] + x[0,2] :   1.0 :   True
          2 :  -Inf : x[1,0] + x[1,1] + x[1,2] :   1.0 :   True
          3 :  -Inf : x[2,0] + x[2,1] + x[2,2] :   1.0 :   True
    TaskConstraints : Size=3, Index=TaskConstraints_index, Active=True
        Key : Lower : Body                     : Upper : Active
          1 :   1.0 : x[0,0] + x[1,0] + x[2,0] :  +Inf :   True
          2 :   1.0 : x[0,1] + x[1,1] + x[2,1] :  +Inf :   True
          3 :   1.0 : x[0,2] + x[1,2] + x[2,2] :  +Inf :   True

9 Declarations: x_index_0 x_index_1 x_index x Objective PeopleConstraints_index PeopleConstraints TaskConstraints_index TaskConstraints

In [24]:
#solve the model
opt = SolverFactory('glpk')
opt.solve(model2, tee = False)

{'Problem': [{'Name': 'unknown', 'Lower bound': 2815.0, 'Upper bound': 2815.0, 'Number of objectives': 1, 'Number of constraints': 95, 'Number of variables': 2210, 'Number of nonzeros': 4419, 'Sense': 'minimize'}], 'Solver': [{'Status': 'ok', 'Termination condition': 'optimal', 'Statistics': {'Branch and bound': {'Number of bounded subproblems': 0, 'Number of created subproblems': 0}}, 'Error rc': 0, 'Time': 0.025246858596801758}], 'Solution': [OrderedDict([('number of solutions', 0), ('number of solutions displayed', 0)])]}

In [25]:
#print solution
print("objective:", model2.Objective())
for i in range(num_people2):
    for j in range(num_tasks2):
        if model2.x[i,j]() > 0:
            print("person", i, "gets task", j)

objective: 2815.0
person 0 gets task 8
person 1 gets task 6
person 2 gets task 5
person 3 gets task 45
person 4 gets task 35
person 5 gets task 22
person 6 gets task 33
person 7 gets task 34
person 8 gets task 12
person 9 gets task 42
person 10 gets task 39
person 11 gets task 23
person 12 gets task 11
person 13 gets task 2
person 14 gets task 36
person 15 gets task 10
person 16 gets task 31
person 17 gets task 25
person 18 gets task 41
person 19 gets task 7
person 20 gets task 20
person 21 gets task 4
person 22 gets task 15
person 23 gets task 43
person 24 gets task 19
person 25 gets task 14
person 26 gets task 9
person 27 gets task 18
person 28 gets task 28
person 29 gets task 21
person 30 gets task 3
person 31 gets task 29
person 32 gets task 46
person 33 gets task 30
person 34 gets task 44
person 35 gets task 37
person 36 gets task 40
person 37 gets task 13
person 38 gets task 24
person 39 gets task 0
person 40 gets task 27
person 41 gets task 17
person 42 gets task 16
person 43 gets task 26
person 44 gets task 32
person 45 gets task 1
person 46 gets task 38

# Option B

In [27]:
#load in data (located on the first sheet)
df2 = pd.read_excel('/content/sample_data/AssignmentProblemData.xlsx', sheet_name='50problemsdata') 
df2

,ProblemNum,Person1Task1,Person1Task2,Person1Task3,Person2Task1,Person2Task2,Person3Task3,Person3Task1,Person3Task2,Person3Task3.1
0,1,193,171,51,189,128,35,39,174,46
1,2,117,19,37,53,32,92,189,40,185
2,3,144,126,136,68,118,32,43,60,193
3,4,12,100,149,130,72,52,116,188,107
4,5,13,147,188,186,27,68,102,125,28
5,6,103,51,190,188,82,14,38,111,181
6,7,82,193,49,56,112,130,88,181,181
7,8,133,174,46,105,107,26,195,42,156
8,9,114,18,108,138,183,178,193,190,14
9,10,72,178,85,42,61,95,155,20,154
10,11,81,15,103,20,123,147,197,48,44
11,12,126,56,166,129,131,21,189,161,118
12,13,80,150,48,184,132,95,170,54,117
13,14,43,11,184,31,160,187,176,58,98
14,15,50,81,59,37,27,175,164,10,134
15,16,108,52,60,93,94,41,167,139,60
16,17,173,138,77,108,123,154,154,111,70
17,18,166,130,76,35,78,172,47,38,149
18,19,131,58,64,83,197,38,113,57,182
19,20,156,160,153,29,126,130,160,14,118
20,21,51,169,149,51,106,51,71,200,197
21,22,114,50,193,46,10,197,53,15,125
22,23,18,200,37,83,191,93,175,60,76
23,24,178,109,92,13,75,87,120,142,154
24,25,125,129,102,94,149,121,44,137,110
25,26,65,112,80,198,11,194,61,83,142
26,27,76,92,129,46,110,20,62,63,91
27,28,81,63,49,67,130,49,175,159,40
28,29,175,52,157,51,96,70,164,53,22
29,30,13,117,71,92,134,30,161,88,149
30,31,145,106,139,148,105,180,52,114,194
31,32,92,66,53,167,125,100,66,200,181
32,33,191,87,123,98,181,188,145,80,140
33,34,191,158,172,59,78,103,121,133,121
34,35,91,13,83,92,18,198,66,182,156
35,36,23,160,15,40,42,12,67,170,134
36,37,70,122,49,172,33,69,195,84,60
37,38,91,67,195,81,194,82,32,181,139
38,39,155,183,170,32,146,159,114,198,82
39,40,91,80,87,85,70,70,28,186,13
40,41,137,114,83,37,150,132,63,38,54
41,42,13,109,173,73,59,21,43,85,157
42,43,188,12,17,30,130,173,164,184,123
43,44,70,195,110,104,45,51,133,171,194
44,45,140,38,160,194,43,18,65,103,121
45,46,86,183,143,178,64,195,110,88,24
46,47,10,113,189,161,140,125,199,13,95
47,48,166,188,77,122,60,159,177,115,22
48,49,138,59,21,56,112,189,165,13,156
49,50,76,120,182,14,191,99,170,20,179

In [66]:
num_people = 3
num_tasks = 3 
def get_solutions(x):
  times=[]
  for i in range(0, len(df2.iloc[x,1:]),num_people):
      times.append(df2.iloc[x,i+1:i+4].values.tolist())
  model = ConcreteModel()
  model.x = Var(range(num_people), range(num_tasks), domain=NonNegativeReals)
  model.Objective = Objective(expr = sum(model.x[i,j]*times[i][j] for i in range(num_people) for j in range(num_tasks)), sense = minimize)
  model.PeopleConstraints = ConstraintList() #declaring an empty list of constraints
  for i in range(num_people): #add one constraint per person
      model.PeopleConstraints.add(expr = sum(model.x[i,j] for j in range(num_tasks)) <= 1)
  model.TaskConstraints = ConstraintList()
  for j in range(num_tasks): #adding one constraint per task
      model.TaskConstraints.add(expr = sum(model.x[i,j] for i in range(num_people)) >= 1)
  opt = SolverFactory('glpk')
  opt.solve(model, tee = False)
  print("objective:", model.Objective())
  assignment_matrix = [[model.x[i,j]() for j in range(num_tasks)] for i in range(num_people)]
  assignment = pd.DataFrame(assignment_matrix, index = ["person1", "person2", "person3"], columns = ["task1","task2","task3"])
  return assignment.to_dict()

In [67]:
get_solutions(0)

objective: 218.0

{'task1': {'person1': 0.0, 'person2': 0.0, 'person3': 1.0},
 'task2': {'person1': 0.0, 'person2': 1.0, 'person3': 0.0},
 'task3': {'person1': 1.0, 'person2': 0.0, 'person3': 0.0}}

In [68]:
solutions = []
for i in range(len(df2)):
  solutions.append(get_solutions(i))

objective: 218.0
objective: 130.0
objective: 201.0
objective: 191.0
objective: 68.0
objective: 103.0
objective: 249.0
objective: 193.0
objective: 170.0
objective: 147.0
objective: 79.0
objective: 266.0
objective: 229.0
objective: 140.0
objective: 106.0
objective: 205.0
objective: 296.0
objective: 149.0
objective: 204.0
objective: 196.0
objective: 291.0
objective: 221.0
objective: 171.0
objective: 247.0
objective: 294.0
objective: 152.0
objective: 159.0
objective: 170.0
objective: 125.0
objective: 131.0
objective: 296.0
objective: 232.0
objective: 301.0
objective: 338.0
objective: 167.0
objective: 124.0
objective: 163.0
objective: 181.0
objective: 297.0
objective: 174.0
objective: 158.0
objective: 119.0
objective: 165.0
objective: 288.0
objective: 121.0
objective: 174.0
objective: 148.0
objective: 248.0
objective: 90.0
objective: 195.0

In [69]:
df2['solution'] = solutions
df2

,ProblemNum,Person1Task1,Person1Task2,Person1Task3,Person2Task1,Person2Task2,Person3Task3,Person3Task1,Person3Task2,Person3Task3.1,solution
0,1,193,171,51,189,128,35,39,174,46,"{'task1': {'person1': 0.0, 'person2': 0.0, 'pe..."
1,2,117,19,37,53,32,92,189,40,185,"{'task1': {'person1': 0.0, 'person2': 1.0, 'pe..."
2,3,144,126,136,68,118,32,43,60,193,"{'task1': {'person1': 0.0, 'person2': 0.0, 'pe..."
3,4,12,100,149,130,72,52,116,188,107,"{'task1': {'person1': 1.0, 'person2': 0.0, 'pe..."
4,5,13,147,188,186,27,68,102,125,28,"{'task1': {'person1': 1.0, 'person2': 0.0, 'pe..."
5,6,103,51,190,188,82,14,38,111,181,"{'task1': {'person1': 0.0, 'person2': 0.0, 'pe..."
6,7,82,193,49,56,112,130,88,181,181,"{'task1': {'person1': 0.0, 'person2': 0.0, 'pe..."
7,8,133,174,46,105,107,26,195,42,156,"{'task1': {'person1': 0.0, 'person2': 1.0, 'pe..."
8,9,114,18,108,138,183,178,193,190,14,"{'task1': {'person1': 0.0, 'person2': 1.0, 'pe..."
9,10,72,178,85,42,61,95,155,20,154,"{'task1': {'person1': 0.0, 'person2': 1.0, 'pe..."
10,11,81,15,103,20,123,147,197,48,44,"{'task1': {'person1': 0.0, 'person2': 1.0, 'pe..."
11,12,126,56,166,129,131,21,189,161,118,"{'task1': {'person1': 0.0, 'person2': 0.0, 'pe..."
12,13,80,150,48,184,132,95,170,54,117,"{'task1': {'person1': 1.0, 'person2': 0.0, 'pe..."
13,14,43,11,184,31,160,187,176,58,98,"{'task1': {'person1': 0.0, 'person2': 1.0, 'pe..."
14,15,50,81,59,37,27,175,164,10,134,"{'task1': {'person1': 0.0, 'person2': 1.0, 'pe..."
15,16,108,52,60,93,94,41,167,139,60,"{'task1': {'person1': 0.0, 'person2': 1.0, 'pe..."
16,17,173,138,77,108,123,154,154,111,70,"{'task1': {'person1': 0.0, 'person2': 1.0, 'pe..."
17,18,166,130,76,35,78,172,47,38,149,"{'task1': {'person1': 0.0, 'person2': 1.0, 'pe..."
18,19,131,58,64,83,197,38,113,57,182,"{'task1': {'person1': 0.0, 'person2': 1.0, 'pe..."
19,20,156,160,153,29,126,130,160,14,118,"{'task1': {'person1': 0.0, 'person2': 1.0, 'pe..."
20,21,51,169,149,51,106,51,71,200,197,"{'task1': {'person1': 0.0, 'person2': 0.0, 'pe..."
21,22,114,50,193,46,10,197,53,15,125,"{'task1': {'person1': 0.0, 'person2': 1.0, 'pe..."
22,23,18,200,37,83,191,93,175,60,76,"{'task1': {'person1': 1.0, 'person2': 0.0, 'pe..."
23,24,178,109,92,13,75,87,120,142,154,"{'task1': {'person1': 0.0, 'person2': 1.0, 'pe..."
24,25,125,129,102,94,149,121,44,137,110,"{'task1': {'person1': 0.0, 'person2': 0.0, 'pe..."
25,26,65,112,80,198,11,194,61,83,142,"{'task1': {'person1': 0.0, 'person2': 0.0, 'pe..."
26,27,76,92,129,46,110,20,62,63,91,"{'task1': {'person1': 1.0, 'person2': 0.0, 'pe..."
27,28,81,63,49,67,130,49,175,159,40,"{'task1': {'person1': 0.0, 'person2': 1.0, 'pe..."
28,29,175,52,157,51,96,70,164,53,22,"{'task1': {'person1': 0.0, 'person2': 1.0, 'pe..."
29,30,13,117,71,92,134,30,161,88,149,"{'task1': {'person1': 1.0, 'person2': 0.0, 'pe..."
30,31,145,106,139,148,105,180,52,114,194,"{'task1': {'person1': 0.0, 'person2': 0.0, 'pe..."
31,32,92,66,53,167,125,100,66,200,181,"{'task1': {'person1': 0.0, 'person2': 0.0, 'pe..."
32,33,191,87,123,98,181,188,145,80,140,"{'task1': {'person1': 0.0, 'person2': 1.0, 'pe..."
33,34,191,158,172,59,78,103,121,133,121,"{'task1': {'person1': 0.0, 'person2': 1.0, 'pe..."
34,35,91,13,83,92,18,198,66,182,156,"{'task1': {'person1': 0.0, 'person2': 0.0, 'pe..."
35,36,23,160,15,40,42,12,67,170,134,"{'task1': {'person1': 0.0, 'person2': 0.0, 'pe..."
36,37,70,122,49,172,33,69,195,84,60,"{'task1': {'person1': 1.0, 'person2': 0.0, 'pe..."
37,38,91,67,195,81,194,82,32,181,139,"{'task1': {'person1': 0.0, 'person2': 0.0, 'pe..."
38,39,155,183,170,32,146,159,114,198,82,"{'task1': {'person1': 0.0, 'person2': 1.0, 'pe..."
39,40,91,80,87,85,70,70,28,186,13,"{'task1': {'person1': 1.0, 'person2': 0.0, 'pe..."
40,41,137,114,83,37,150,132,63,38,54,"{'task1': {'person1': 0.0, 'person2': 1.0, 'pe..."
41,42,13,109,173,73,59,21,43,85,157,"{'task1': {'person1': 1.0, 'person2': 0.0, 'pe..."
42,43,188,12,17,30,130,173,164,184,123,"{'task1': {'person1': 0.0, 'person2': 1.0, 'pe..."
43,44,70,195,110,104,45,51,133,171,194,"{'task1': {'person1': 0.0, 'person2': 0.0, 'pe..."
44,45,140,38,160,194,43,18,65,103,121,"{'task1': {'person1': 0.0, 'person2': 0.0, 'pe..."
45,46,86,183,143,178,64,195,110,88,24,"{'task1': {'person1': 1.0, 'person2': 0.0, 'pe..."
46,47,10,113,189,161,140,125,199,13,95,"{'task1': {'person1': 1.0, 'person2': 0.0, 'pe..."
47,48,166,188,77,122,60,159,177,115,22,"{'task1': {'person1': 1.0, 'person2': 0.0, 'pe..."
48,49,138,59,21,56,112,189,165,13,156,"{'task1': {'person1': 0.0, 'person2': 1.0, 'pe..."
49,50,76,120,182,14,191,99,170,20,179,"{'task1': {'person1': 1.0, 'person2': 0.0, 'pe..."