<a href="https://colab.research.google.com/github/BenShieh233/Learn_Python/blob/main/PyomoRepetition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Set-Up

In [16]:
#Copy-and-paste the code below to use as "set-up" when your optimization model uses Pyomo. 
#Uncomment the appropriate solver that you need.
#for reference, see https://colab.research.google.com/drive/1yGk8RB5NXrcx9f1Tb-oCiWzbxh61hZLI?usp=sharing

#installing and importing pyomo
!pip install -q pyomo
from pyomo.environ import *

###installing and importing specific solvers (uncomment the one(s) you need)
###glpk
#!apt-get install -y -qq glpk-utils
###cbc
#!apt-get install -y -qq coinor-cbc
###ipopt
!wget -N -q "https://ampl.com/dl/open/ipopt/ipopt-linux64.zip"
!unzip -o -q ipopt-linux64
###bonmin
#!wget -N -q "https://ampl.com/dl/open/bonmin/bonmin-linux64.zip"
#!unzip -o -q bonmin-linux64
###couenne
#!wget -N -q "https://ampl.com/dl/open/couenne/couenne-linux64.zip"
#!unzip -o -q couenne-linux64
###geocode
#!wget -N -q "https://ampl.com/dl/open/gecode/gecode-linux64.zip"
#!unzip -o -q gecode-linux64

#Using the solvers:
#SolverFactory('glpk', executable='/usr/bin/glpsol')
#SolverFactory('cbc', executable='/usr/bin/cbc')
#SolverFactory('ipopt', executable='/content/ipopt')
#SolverFactory('bonmin', executable='/content/bonmin')
#SolverFactory('couenne', executable='/content/couenne')
#SolverFactory('gecode', executable='/content/gecode')

In [ ]:
import pandas as pd

#Recorded Looping Solution

In [17]:
#load in data
df = pd.read_excel("/content/sample_data/YTLoopData.xlsx", sheet_name = "data")
df

    Problem_Number  a   b    c
0                1  4  15   34
1                2  2   9   10
2                3  1  12   33
3                4  5   3   64
4                5  4   6   19
..             ... ..  ..  ...
95              96  5   5   78
96              97  3  15   73
97              98  3   5  100
98              99  5  10   57
99             100  3   4   74

[100 rows x 4 columns]

In [18]:
# Define a function
def solve_model(a,b,c):
  #initialize a "Concrete Model"
  model = ConcreteModel()

  #initialize DVs
  model.x = Var(domain = Reals)

  #define the objective
  model.Objective = Objective(expr = a*model.x**2 - b*model.x + c, sense = minimize)
 
  opt = SolverFactory('ipopt', executable='/content/ipopt')

  results = opt.solve(model, tee = False)  

  return {"x*":model.x(), "obj*":model.Objective()}

In [19]:
row_data = df.iloc[0].values.tolist()
row_data

[1, 4, 15, 34]

In [20]:
#use a for loop to do the above process for all the problems
solutions = []
for i in range(len(df)):
  row_data = df.iloc[i].values.tolist()
  a = row_data[1]
  b = row_data[2]
  c = row_data[3]
  solutions.append(solve_model(a,b,c))

In [21]:
#put the solutions back in the dataframe
df["solutions"] = solutions
df

,Problem_Number,a,b,c,solutions
0,1,4,15,34,"{'x*': 1.875, 'obj*': 19.9375}"
1,2,2,9,10,"{'x*': 2.25, 'obj*': -0.125}"
2,3,1,12,33,"{'x*': 6.0, 'obj*': -3.0}"
3,4,5,3,64,"{'x*': 0.3, 'obj*': 63.55}"
4,5,4,6,19,"{'x*': 0.75, 'obj*': 16.75}"
...,...,...,...,...,...
95,96,5,5,78,"{'x*': 0.5, 'obj*': 76.75}"
96,97,3,15,73,"{'x*': 2.5, 'obj*': 54.25}"
97,98,3,5,100,"{'x*': 0.8333333333333333, 'obj*': 97.91666666..."
98,99,5,10,57,"{'x*': 1.0, 'obj*': 52.0}"
99,100,3,4,74,"{'x*': 0.6666666666666666, 'obj*': 72.66666666..."